// GLOBAL

html {
  @include box-sizing(border-box);
}

*, *:before, *:after, input[type="search"] {
  @include box-sizing(inherit);
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: tint($base-color, 96%);
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: $row-min-width;
}

// Links

a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: none;
  @include transition(opacity 0.2s ease 0s);
  @include transform(translateZ(0));
}

a:visited {
  color: $primary-color;
}

a:hover {
  opacity: 0.64;
  outline: none;
}

a:active{
  outline: none;
  @include transform(translate(0, 1px));
}

// Rows

.row {
  @extend .clearfix;
  padding-left: $inner-pad;
  padding-right: $inner-pad;
  @include media(small-up) {
    padding-left: $inner-pad*2;
    padding-right: $inner-pad*2;
  }
  @include media(xlarge-up) {
    padding-left: $inner-pad*4;
    padding-right: $inner-pad*4;
  }
}

.centered {
  max-width: $row-max-width;
  margin-left: auto;
  margin-right: auto;
}


/* SITE HEADER */

.site-header {
  padding-top: 2rem;
  margin: 0;
  text-align: center;
  > .inner {
    @extend .row;
    @extend .centered;
  }
}

.site-title {
  position: relative;
  margin: 0;
  * {
    vertical-align: top;
  }
  img {
    display: inline-block;
  }
  span {
    @extend .visually-hidden;
  }
  small {
    @extend .antialiased;
    display: inline-block;
    margin: 0.45rem 0 0 0.5rem;
    background: rgba($base-color, 0.64);
    color: #fff;
    border-radius: $global-radius;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-transform: uppercase;
  }
}


/* SITE BODY */

.site-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  > .inner {
    @extend .row;
    @extend .centered;
  }
  @include media(small-up) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.intro-block {
  @extend .prose;
  text-align: center;
  margin-bottom: 2rem;

  pre {
    text-align: left;
  }

  @include media(medium-up) {
    margin-bottom: 3rem;
    @include span-columns(10 of 12);
    @include shift(1);
  }

  @include media(xlarge-up) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}


/* MISC */

.notification {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: $global-radius;
  background: rgba($base-color, 0.8);
  padding: 1rem 2.5rem 1rem 4rem;
  color: #fff;
  @extend .antialiased;
  @include transition(all 0.24s ease 0s);
  @include transform(translateZ(0));
  overflow: hidden;
  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    height: 16rem;
    line-height: 16rem;
    width: 3rem;
    text-align: center;
    background: rgba($base-color, 0.92);
    border-radius: $global-radius 0 0 $global-radius;
    font-size: 1.5rem;
    vertical-align: middle;
    @include transform(translate(0, -50%));
  }
  &.notification-success:before {
    background: rgba($success-color, 0.92);
    @extend .collecticon-circle-tick;
  }
  &.notification-info:before {
    background: rgba($info-color, 0.92);
    @extend .collecticon-circle-information;
  }
  &.notification-warning:before {
    background: rgba($warning-color, 0.92);
    @extend .collecticon-circle-exclamation;
  }
  &.notification-alert:before {
    background: rgba($alert-color, 0.92);
    @extend .collecticon-circle-xmark;
  }
}

.notification-dismiss {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  text-align: center;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  &:visited, & {
    color: rgba(#fff, 0.32);
  }
  span {
    @extend .visually-hidden;
  }
  &:before {
    @extend .collecticon-sm-xmark;
  }
}

.loading {
  @extend .antialiased;
  position: fixed;
  z-index: 9980;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  margin: -4rem 0 0 -4rem;
  background: rgba($base-color, 0.8);
  padding: 2rem 1rem;
  border-radius: $global-radius;
  color: #fff;
  text-align: center;

  opacity: 0;
  visibility: hidden;
  @include transform(scale(0));
  @include transition(all 0.24s ease 0s);

  &.revealed {
    opacity: 1;
    visibility: visible;
    @include transform(scale(1));
  }

  &:before {
    display: block;
    @extend .icon-spinner;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 1;
    margin: 0 auto 0.5rem auto;
    @include animation(spin-c 1s linear 0s infinite);
  }
}

/* ANIMATIONS */

@include keyframes(spin-c) {
  from { @include transform(rotate(0deg)); }
    to { @include transform(rotate(360deg)); }
}
